* {
    margin: 0px;
    padding: 0px;
}

#main-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    align-items: stretch;
    justify-items:stretch;
}

#game-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board-square{
    border-style: solid;
}