* {
    margin: 0px;
    padding: 0px;
}

#main-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    align-items: center;
    justify-items: center
}

#game{
    display: grid;
    grid-template-rows: 4fr 1fr;
}

#game-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#options{
    display: grid;
    justify-items: center;
    align-items: center;
}

button{
    width: 100px;
    height: 50px;
    border-style: solid;
    border-radius: 8px;
    font-size: 30px;
    font-weight: bold;
    background-color: #04AA6D;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.board-square{
    border-style: solid;
    width: 200px;
    height: 200px;
}